<p id="notice"></p>
<div class="container px-5 px-sm-0">
    <div class="row">
        <div class="col-md-3">
            <h2 class="mt-3">User info</h2>
<% if @user.profile_image.attached? %>
  <%= image_tag @user,profile_image, size: "100x100" %>
<% else %>
 <%= image_tag 'default-image', size: "100x100" %>
<% end %>


<div class="row">
<%= form_with model: User.new do |f| %>

<%= f.submit class: 'btn btn-outline-secondary btn-block'%>

<h2 class="mt-3">New book</h2>

<lebel for="book_title">Title</lebel>
<%= f.text_field :title %>

<label for="book_opinion">Opinion</label>
<%= f.text_area :body %>

<%= f.submit 'Create Book',class: 'btn btn-success' %>

<% end %>
</div>
        </div>
    </div>
</div>







