<%= render 'books/list', user: @user,book: @book_new%>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>

      <tr>
        <td>
          <%= link_to user_path(current_user) do %>
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.profile_image, size: "100x100" %>
          <% else %>
            <%= image_tag 'default-image', size: "100x100" %>
          <% end %>
          <br>
          <%= @user.name %>
          <% end %>
        </td>

        <td>
          <%= link_to  book_path(current_user) do %>
             <%= @book.title %>
          <% end %>
        </td>
        <td>
          <%= @book.body %>
        </td>
       <td>
         <%= link_to "Edit", edit_book_path(@book), class:"btn btn btn-sm btn-success"%>
       </td>
        <td>
          <% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete,class: 'btn btn-sm btn-danger destroy_book_46780' %>
          <% end %>
        </td>
      </tr>

    </tbody>
  </table>
</div>
